<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foto-Carnet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div id="container">
        <div id="drop-zone">
            Arrastra aquí tu imagen o haz clic para seleccionar
            <input type="file" id="file-input" accept="image/*" hidden>
        </div>
        <div id="form-zone">
            <label type="dropdown" for="templates">Plantillas</label>
            <select id="templates">
                <option value="" disabled selected>Selecciona una plantilla</option>
                {% for key, value in templates.items() %}
                <option 
                value="{{ key }}"
                data-width="{{ value.width }}"
                data-height="{{ value.height }}"
                data-percentage="{{ value.percentage }}"
                data-bg-color="{{ value['bg-color'] }}"
                data-dpi="{{ value.dpi }}"
                data-unit="{{ value.unit }}"
            >
                {{ key|title }}
            </option>
                {% endfor %}
            <input type="radio" id="unit" name="unit" value="cm" checked>cm
            <input type="radio" id="unit" name="unit" value="inch">pulgada
            <label for="width">Ancho</label>
            <input type="text" id="width" placeholder="ancho de la imagen" required>
            <label for="height">Alto</label>
            <input type="text" id="height" placeholder="alto de la imagen" required>
            <label for="dpi">Default DPI</label>
            <input type="number" id="dpi" placeholder="dpi" value="300" required>
            <label for="percentage">Porcentaje de cabeza</label>
            <input type="number" id="percentage" placeholder="porcentaje de cabeza" required>
            <label for="bg-color">Color de fondo</label>
            <input type="color" id="bg-color" value="#ffffff">
            <button type="button" class="color-option" style="background-color: #ffffff" onclick="selectBgColor('#ffffff')"></button>
            <button type="button" class="color-option" style="background-color: #87CEEB" onclick="selectBgColor('#87CEEB')"></button>
            <button id="submit" disabled>Generar</button>
        </div>
        <div id="preview"></div>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>